<form action="" class="form-container" [formGroup]="codeForm">
    <h3 class="text">Create code snippet</h3>
    <input type="text" name="text" id="text" placeholder="Title" [formControl]="title" />
    <h5 class="error" [hidden]="title.valid || title.untouched">Enter the title</h5>
    <textarea type="text" name="code" id="code" placeholder="code {

    }" [formControl]="code" ></textarea>
    <h5 class="error" [hidden]="code.valid || code.untouched">Enter the code</h5>
    <div class="btn-group">

        <button class="btn-success" (click)="submit()" [disabled]="codeForm.invalid">Create code</button>
    </div>




</form>