<form class="form-container" [formGroup]="codeForm">
    <h3 class="text">{{ edit ? 'Edit code snippet' : 'Create code snippet' }}</h3>
    
    <input type="text" id="text" placeholder="Title" formControlName="title" />
    <h5 class="error" *ngIf="title.invalid && title.touched">Enter a valid title</h5>
    
    <textarea id="code" placeholder="Code" formControlName="code"></textarea>
    <h5 class="error" *ngIf="code.invalid && code.touched">Enter valid code</h5>
    
    <div class="btn-group">
        @if(edit){

            <button class="btn-success"  (click)="updateSnippetById()" [disabled]="codeForm.invalid">
              Update code
            </button>
        }@else {

            <button class="btn-success"  (click)="submit()" [disabled]="codeForm.invalid">
              Create code
            </button>
        }
  
    </div>
  </form>
  