<div class="container">
    <ul class="snippet-list">
        <li *ngIf="items.length <= 0" class="no-snippets">
            No Code snippets yet!
        </li>

        <li *ngFor="let item of items; track:item?.id" class="snippet-item">
            <div class="loop-container">
                <a [routerLink]="['/snippet', item.id]" class="snippet-title">
                    {{ item?.title }}
                </a>
                <button class="btn-delete" (click)="deleteSnippetByIdHome(item?.id)">Delete</button>

            </div>
            <p class="snippet-preview">
                {{ item?.code | slice:0:100 }}
            </p>
        </li>
    </ul>
</div>
