.form-container{
    width: 40%;
    height: auto;
    margin-top:60px;
    border:1px solid rgb(160, 219, 21);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap:6px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
    transition:box-shadow 0.9s ease-in-out;
}
.form-container:hover{
    box-shadow: 0 6px 12px rgba(0,0,0,0.5);
}

.login-text{
    margin:0 0 10px 0;
    text-align: center;
    color: #121212;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.8rem;
    font-weight: bold;
}

input{
    width: 70%;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    margin:0 auto;
    font-size: 20px;
    padding-left: 20px;
    border:1px solid #ccc;
    border-radius: 6px;
    transition: border 0.6s,box-shadow 0.6s;

}

input:focus{
    border-color:rgba(160,219,21);
    outline: none;
}

.error{
    margin:10px 0 6px 0px;
    color:rgb(231, 25, 25);
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;

}



button{
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    letter-spacing: 1.2px;
    background-color: white;
    cursor: pointer;
    color: rgb(25, 12, 12);

}

.btn-group{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 80%;
}



.btn-success:disabled{
    cursor: not-allowed;
}

.btn-success{
    background-color: rgb(22, 227, 22);
}

.btn-success:hover{
    background-color: rgb(10, 245, 10);
}

.btn-success:active{
    background-color: rgb(22, 227, 22);
}


.btn-forgot-password{
    background-color: rgb(20, 218, 228);

}

.btn-forgot-password:hover{
    background-color: rgb(79, 231, 239);

}

.btn-forgot-password:active{
    background-color: rgb(20, 218, 228);

}