<div class="header-container">
    <nav class="nav">
        <section class="codebin"><a routerLink="/">CodeBin</a></section>
        <ul>
            @if(authService.isAuthenticated()){
    <li><a  routerLink="/createbin" routerLinkActive="active">CreateBin</a></li>
    <li (click)="authService.logout()">Logout</li>

}@else{

    <li><a  routerLink="/login" routerLinkActive="active">Login</a></li>
    <li><a  routerLink="/register" routerLinkActive="active">Register</a></li>
}
            <li><a  routerLink="/about" routerLinkActive="active">About</a></li>
            <li><a  routerLink="/demo" routerLinkActive="active">Deffer Demo</a></li>


        </ul>
    </nav>


</div>